*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("img_fondo1.jpg");
}

.content-header h1{
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
	color: #008F99;
	font-weight: 500;
}

.content-header p{
	text-align: center;
	font-family: arial;
	color: #666;
}
.content{
	width: 50%;
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #008F99;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	box-shadow: 3px 3px 7px 1px #333;
}

.n_offset_style{
	width: 40px;	
}

.content-offset{
	margin-top: 10px;
}

.label{
	font-size: 16px;
	font-family: arial;
	color: #666;
}

.link-code {
	width: 100%;
	font-size: 22px;
	font-family: arial;
	margin: 0 auto;
	padding: 5px;
	text-align: center; 
	margin-top: 25px;
}

.link-code a{
	text-decoration:none;
	text-align: center;
	color: #666666; 
	margin-left: 10px;
	margin-right: 10px;
}

.link-code a:hover {
	border-bottom: 2px solid #008F99;
	color: #008F99;
	padding-bottom: 5px;
	transition: 0.3s;
}

.link_active{
	border-bottom: 2px solid #008F99;
	color: #008F99 !important;
	padding-bottom: 5px;
}

.msg-style{
	width: 100%;
	margin-top: 20px;
}

.msg-style p{
	font-family: arial;
	color: #333333;
	margin-bottom: 10px;
}

.box-msg-style{
	width: 100%;
	height: 130px;
	resize: none;
	outline: 0px;
}

.btn-code{
	border: 0px;
	width: 170px;
	height: 50px;
	background-color: #008F99;
	border-radius: 5px;
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
	box-shadow: 3px 3px 7px 1px #898989;
	cursor: pointer;
	transition: 0.4s;
}

.btn-code:hover{
	background-color: #FFC107;
	
}

.btn-code:focus{
	outline:0px;
}

.btn_reload{
	border: 0px;
	width: 170px;
	height: 50px;
	background-color: #008F99;
	border-radius: 5px;
	margin-top: 15px;
	color: #fff;
	font-size: 15px;
	box-shadow: 3px 3px 7px 1px #898989;
	cursor: pointer;
	transition: 0.4s;
}

.btn_reload:hover{
	background-color: #FFC107;
}

.btn_reload:focus{
	outline:0px;
}
.msg-ckeck{
	width: 97%;
	height: auto;
	min-height: 130px;
	background-color: #DADADA;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 10px 1px #898989;
}

.msg-style p{
	color: #666;
}

.display_none{
	display: none;
}

.display_block{
	display: block;
}